@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Index</h1>
<head>
    <link rel="stylesheet" href="~/css/styleIndex.css" />
</head>

<div class="quest__block">
    <div class="testCard">
        <a class="quest__link" asp-action="QuestSharp" asp-controller="Home">
            <div>
                <img style="width: 120px;height: 100px;" src="https://cdn.auth0.com/blog/native-csharp/logo.png" />
            </div><div class="body">
                <div class="title">C#: Начальний</div>
                <div>
                    <span class="tag_badge badge cpp">cpp</span>
                </div>
            </div>
        </a>
    </div>
</div>
